{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw7">
      <header>
        <h1 class="f1">
          {{ .Title |safeHTML}}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
      </div><br>
      {{if .Params.yes}}
      <a class="button yes" href="{{relref . (.Param "yes") }}">Yes &check;</a>
      {{end}}
      
      {{if .Params.no}}
      <a class="button no" href="{{relref . (.Param "no") }}">No X</a>
      {{end}}
    
      {{if .Params.next}}
      <a class="button next" href="{{relref . (.Param "next") }}">Next</a>
      {{end}}

      {{if .Params.Invaders}}{{partial "bot/invaders.html" .}} {{end}}
      {{if .Params.MAC}} {{partial "bot/mac.html" .}} {{end}}

    </article>
  </div>
{{ end }}
