<table border="1">
<tr>
    <th> Area Status</th>
    <th> MAC (maximium army capacity</th>
</tr>
<tr>
    <td> Area has land connection to Bot's Capital</td>
    <td>Unlimited</td>
</tr>
<tr>
    <td> Area has no land connection to Bot's Capital</td>
    <td>Bot's MC for the Area +3
        miniimum 9 if a Naval Bridge closes the only gap in an otherwise valid land connection
    </td>
</tr>
</table>
<br>
<strong>land connection</strong> = a continuous chain of a Bot's towns that are adjacent by land. <br>
<strong>MC</strong> = see main rules 22<br>